%b
  - if @device
    = ap @packet
    - if @packet['in_data']
      %p
        Received:
        %pe
          - @packet['in_data'].unpack('H*')[0].scan(/../).each {|n| concat '0x'+n+' ' }
          %p
            - begin
              - o = SampleDataResponse.read(@packet['in_data'])
              Command received:
              = o.get_command
              = ap o.inspect false
              - rescue EOFError => e
              EOF
          %p
            - p = @handle.bulk_transfer(:endpoint => 0x81, :dataIn => 65536, :timeout => 4000)
            - p.unpack('H*')[0].scan(/../).each {|n| concat n }
            = ap p.inspect
            EOF




  - else
    No DSO detected. Is it plugged in USB ?
%p
- if @handle.kernel_driver_active? 0
  Another kernel driver loaded
- @handle.release_interface 0