%b
  - if @device
    = ap @packet
    - if @packet['in_data']
      %p
        Received:
        - @packet['in_data'].unpack('H*')[0].scan(/../).each {|n| concat '\x'+n }
      %p
        - begin
          - o = SystemTimeResponse.read(@packet['in_data'])
          Command received:
          = o.get_command
          = ap o.inspect false
          - rescue EOFError => e
          EOF



  - else
    No DSO detected. Is it plugged in USB ?
%p
- if @handle.kernel_driver_active? 0
  Another kernel driver loaded
- @handle.release_interface 0