// Place all the styles related to the dso controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.packet, pre.packet, pre.debug_dump, div#chart_div {
  align-self: center;
  background-color: #030304;
  border-color: yellowgreen;
  border-style: double;
  color: #e8e8e8;
  font-family: "Source Code Pro",Monaco,monospace;
  font-weight: bold;
  margin: auto;
  padding: 20px;
  width: 83%;
  word-wrap: break-word;
}

p.etiquette {
  background-color: black;
  border-bottom-width: 0;
  border-style: solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: yellowgreen;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 8%;
  padding: 7px;
  text-align: center;
  width: 9%;
}

p.grey {
  margin: 20px;
  align-self: center;
  padding: 20px;
  background-color: #c5c5c5;
  color: #B00100;
  font-family: "Source Code Pro", Monaco, monospace;
  word-wrap: break-word;
}

body.body {
  background-color: navy;
  color: #a6a6a6;
}

div#chart_div {
  height: 450px;
}